<div>
  <pre class="alert alert-info">Selected date is: <em>{{momentTime.format()}}</em></pre>
  <h4>Datetime Picker</h4>
  <div style="display:inline-block; min-height:290px;">
    <div class="row">
      <div class="col-md-6">
        <p class="input-group">
          <input type="text" class="form-control" datepicker-popup="{{format}}"
            ng-model="momentTime._d" is-open="opened" min-date="minDate"
            max-date="'2015-06-22'" datepicker-options="dateOptions"
            date-disabled="disabled(date, mode)" ng-required="true"
            close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
      <div class="col-md-6">
        <timepicker ng-model="momentTime._d" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
      </div>
    </div>
    <select ng-options="timezone.ianaFormat as timezone.offset for timezone in timezones"
      ng-model="selectedTimezone"
      ng-change="changeTimezone()">
    </select>
  </div>
</div>
